---
layout: layouts/base.njk
templateClass: tmpl-base
eleventyNavigation:
    key: fiction
    order: 2
---
<h2>hot stuff</h2>

{% set postslist = collections.fiction %}
{% include "postslist.njk" %}


