---
layout: layouts/base.njk
templateClass: tmpl-base
eleventyNavigation:
    key: soccer
    order: 3
---
<h2>niềm đam mê bất diệt</h2>

{% set postslist = collections.soccer %}
{% include "postslist.njk" %}


